<a href="https://colab.research.google.com/github/tomassalcedas/dataeng/blob/main/spark/examples/06-write_partitioning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Write
- .write
- .format (parquet, csv, json)
- options
- spark.sql.sources.partitionOverwriteMode dynamic

# Write Mode
- overwrite - The overwrite mode is used to overwrite the existing file, alternatively, you can use SaveMode.Overwrite
- append - To add the data to the existing file, alternatively, you can use SaveMode.Append
- ignore - Ignores write operation when the file already exists, alternatively, you can use SaveMode.Ignore.
- errorifexists or error - This is a default option when the file already exists, it returns an error, alternatively, you can use SaveMode.ErrorIfExists.

# Partitioning
Process to organize the data into multiple chunks based on some criteria.
Partitions are organized in sub-folders.
Partitioning improves performance in Spark.

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

# Setting up PySpark

In [2]:
%pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.11/dist-packages (3.5.1)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.11/dist-packages (from pyspark) (0.10.9.7)

In [3]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.master('local').appName('Spark Course').getOrCreate()

# Preparing data

In [4]:
!pip install faker

Collecting faker
  Downloading faker-37.4.0-py3-none-any.whl.metadata (15 kB)
Requirement already satisfied: tzdata in /usr/local/lib/python3.11/dist-packages (from faker) (2025.2)
Downloading faker-37.4.0-py3-none-any.whl (1.9 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.9/1.9 MB 25.2 MB/s eta 0:00:00
Installing collected packages: faker
Successfully installed faker-37.4.0

In [5]:
from faker import Faker
from datetime import datetime

fake = Faker()

users = []
for _ in range(50):
    user = {
        'date': fake.date_time_between_dates(datetime(2024, 5, 1), datetime(2024, 5, 5)),
        'name': fake.name(),
        'address': fake.address(),
        'email': fake.email(),
        'dob': fake.date_of_birth(),
        'phone': fake.phone_number()
    }
    users.append(user)

df = spark.createDataFrame(users)

df.show(10, False)

+---------------------------------------------------------+--------------------------+----------+------------------------------+------------------+---------------------+
|address                                                  |date                      |dob       |email                         |name              |phone                |
+---------------------------------------------------------+--------------------------+----------+------------------------------+------------------+---------------------+
|3576 Green Turnpike Apt. 973\nJonathanfort, OH 20172     |2024-05-02 01:52:33.343982|1971-01-29|kennethporter@example.net     |Kenneth Clarke    |(454)916-7184        |
|00743 Pamela Crossing Apt. 423\nBenjaminport, OR 82666   |2024-05-02 11:30:22.134937|1954-01-03|michaelcrawford@example.com   |Brooke Scott      |001-670-596-2391x3422|
|7622 Sean Parks\nWest Sean, AZ 84874                     |2024-05-01 03:44:46.207469|1913-03-17|michael77@example.com         |Jennifer Baker    |+1-918-901-5459x36663|
|26358 Gordon Flat\nLake Michael, GU 45428                |2024-05-01 11:33:51.763914|1991-12-23|jacksontyler@example.net      |Heather Taylor    |9147011038           |
|631 Erin Fork Suite 135\nWest Seanmouth, PA 68986        |2024-05-04 13:04:34.355189|1982-09-13|carlturner@example.com        |Melissa Bell      |(990)322-6026x92193  |
|90831 Brown Green\nWest Chelseaview, MN 53545            |2024-05-03 03:02:07.280329|1934-10-03|kdavis@example.net            |Cindy Estrada     |(317)579-6638        |
|3571 Beard Crest Apt. 049\nCharleneville, OK 70819       |2024-05-02 14:00:24.507546|1958-08-02|frazierwayne@example.net      |Veronica Ruiz     |926-265-0650         |
|37951 Wells Rapid Suite 130\nSouth Cherylville, GU 82511 |2024-05-03 20:15:43.791095|1998-11-05|phall@example.net             |Victor Coleman    |(353)469-0513x181    |
|40413 Jordan Keys Suite 848\nSouth Jennifertown, WV 27115|2024-05-02 13:44:56.691263|1997-01-23|christopherbennett@example.com|Briana Davis      |(468)358-4804        |
|6502 Shelly Valley Apt. 393\nEast Reneechester, FM 85426 |2024-05-01 05:28:33.478752|1914-11-10|jonathan93@example.com        |Kristopher Shaffer|475.749.4128x02831   |
+---------------------------------------------------------+--------------------------+----------+------------------------------+------------------+---------------------+
only showing top 10 rows

# Writing as PARQUET

In [11]:
# Writing as PARQUET with no partitions

path = "/content/write_partitioning/parquet_no_partitions"

df.write.mode("overwrite").format("parquet").save(path)

!ls /content/write_partitioning/parquet_no_partitions

spark.read.format("parquet").load(path).count()

part-00000-ae7de57c-8b92-4302-8f76-a7ece9a166ea-c000.snappy.parquet  _SUCCESS

50

In [16]:
# Writing as PARQUET with partitions
from pyspark.sql.functions import *

path = "/content/write_partitioning/parquet_with_partitions"

# Creating partition column
df = df.withColumn("date_part", date_format(col("date"), "yyyyMMdd"))

spark.conf.set("spark.sql.sources.partitionOverwriteMode","dynamic") # enable dynamic partition overwrite - only overwrites partitions that are coming in the dataframe

(df
 #.where("date_part = '20240503'")
 .write
 .mode("overwrite")                                               # overwrites the entire path with the new data
 .partitionBy("date_part")                                        # partition the data by column - creates sub-folders for each partition
 .format("parquet")                                               # format of output
 .save(path))                                                     # path

!ls /content/write_partitioning/parquet_with_partitions

spark.read.format("parquet").load(path).count()

'date_part=20240501'  'date_part=20240503'
'date_part=20240502'  'date_part=20240504'

50

In [17]:
# Checking single partition
spark.read.parquet("/content/write_partitioning/parquet_with_partitions/date_part=20240502").show(50)

+--------------------+--------------------+----------+--------------------+--------------------+--------------------+
|             address|                date|       dob|               email|                name|               phone|
+--------------------+--------------------+----------+--------------------+--------------------+--------------------+
|3576 Green Turnpi...|2024-05-02 01:52:...|1971-01-29|kennethporter@exa...|      Kenneth Clarke|       (454)916-7184|
|00743 Pamela Cros...|2024-05-02 11:30:...|1954-01-03|michaelcrawford@e...|        Brooke Scott|001-670-596-2391x...|
|3571 Beard Crest ...|2024-05-02 14:00:...|1958-08-02|frazierwayne@exam...|       Veronica Ruiz|        926-265-0650|
|40413 Jordan Keys...|2024-05-02 13:44:...|1997-01-23|christopherbennet...|        Briana Davis|       (468)358-4804|
|68657 Randy Canyo...|2024-05-02 11:45:...|2010-02-20|kathryn61@example...|Brittany Hopkins DVM| +1-371-700-3711x021|
|Unit 3853 Box 477...|2024-05-02 22:53:...|1954-05-16| nlandry@example.net|          Mary Carey|   822-233-5312x7335|
|70814 Wilson Lake...|2024-05-02 17:19:...|1920-11-04|donnapowell@examp...|         Adam Keller|    448-520-5590x426|
|51508 Courtney Ra...|2024-05-02 18:50:...|1978-08-01| dbishop@example.com|      Jeanne Schmidt|        690.586.2462|
|68420 Moreno Esta...|2024-05-02 02:40:...|1926-06-19|michael82@example...|  Jennifer Zimmerman|  764-560-7385x76391|
|3365 Edwards Fiel...|2024-05-02 16:06:...|2002-10-21|orobinson@example...|      Thomas Johnson|   248-817-7802x5515|
|USCGC Wilson\nFPO...|2024-05-02 23:56:...|1923-04-10|jonescarla@exampl...|       Heather Pitts|    623-961-7065x265|
|3355 Jerry Key Ap...|2024-05-02 07:19:...|1931-03-06|valdezkatherine@e...|          James Long|       (528)464-7387|
|2876 Carter Court...|2024-05-02 01:38:...|2017-02-11|milleramanda@exam...|      Danny Thompson|    892.271.8232x969|
|453 Christopher M...|2024-05-02 00:27:...|1982-07-28|branditaylor@exam...|       David Collins|     +1-924-610-4989|
+--------------------+--------------------+----------+--------------------+--------------------+--------------------+

# Writing as CSV

https://spark.apache.org/docs/3.5.1/sql-data-sources-csv.html

In [18]:
df.count()

50

In [19]:
path = "/content/write_partitioning/csv_no_partitioning/"

# write as csv
(df
  .write
  .format("csv")
  .mode("overwrite")
  .option("delimiter", "|")
  .option("header", True)
  .save(path))

# listing files in the folder
!ls /content/write_partitioning/csv_no_partitioning/

# read as csv
(spark
  .read
  .options(sep="|", multiLine=True, header=True)
  .csv(path)
  .count())

part-00000-bb29f782-bf2e-453a-80b5-d53b6bf5dc66-c000.csv  _SUCCESS

50

# Writing as JSON

https://spark.apache.org/docs/3.5.1/sql-data-sources-json.html

In [20]:
path = "/content/write_partitioning/json_no_partitioning/"

# write as json
(df
.write
.mode("overwrite")
.format("json")
.save(path))

# listing files in the folder
!ls /content/write_partitioning/json_no_partitioning/

# read as json
(spark
  .read
  .json(path)
  .count())

part-00000-630122bd-29a5-43ff-8344-9b2c842a3e67-c000.json  _SUCCESS

50

In [21]:
# reading json as text
spark.read.text(path).show(10, False)

+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|value                                                                                                                                                                                                                                       |
+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|{"address":"3576 Green Turnpike Apt. 973\nJonathanfort, OH 20172","date":"2024-05-02T01:52:33.343Z","dob":"1971-01-29","email":"kennethporter@example.net","name":"Kenneth Clarke","phone":"(454)916-7184","date_part":"20240502"}          |
|{"address":"00743 Pamela Crossing Apt. 423\nBenjaminport, OR 82666","date":"2024-05-02T11:30:22.134Z","dob":"1954-01-03","email":"michaelcrawford@example.com","name":"Brooke Scott","phone":"001-670-596-2391x3422","date_part":"20240502"}|
|{"address":"7622 Sean Parks\nWest Sean, AZ 84874","date":"2024-05-01T03:44:46.207Z","dob":"1913-03-17","email":"michael77@example.com","name":"Jennifer Baker","phone":"+1-918-901-5459x36663","date_part":"20240501"}                      |
|{"address":"26358 Gordon Flat\nLake Michael, GU 45428","date":"2024-05-01T11:33:51.763Z","dob":"1991-12-23","email":"jacksontyler@example.net","name":"Heather Taylor","phone":"9147011038","date_part":"20240501"}                         |
|{"address":"631 Erin Fork Suite 135\nWest Seanmouth, PA 68986","date":"2024-05-04T13:04:34.355Z","dob":"1982-09-13","email":"carlturner@example.com","name":"Melissa Bell","phone":"(990)322-6026x92193","date_part":"20240504"}            |
|{"address":"90831 Brown Green\nWest Chelseaview, MN 53545","date":"2024-05-03T03:02:07.280Z","dob":"1934-10-03","email":"kdavis@example.net","name":"Cindy Estrada","phone":"(317)579-6638","date_part":"20240503"}                         |
|{"address":"3571 Beard Crest Apt. 049\nCharleneville, OK 70819","date":"2024-05-02T14:00:24.507Z","dob":"1958-08-02","email":"frazierwayne@example.net","name":"Veronica Ruiz","phone":"926-265-0650","date_part":"20240502"}               |
|{"address":"37951 Wells Rapid Suite 130\nSouth Cherylville, GU 82511","date":"2024-05-03T20:15:43.791Z","dob":"1998-11-05","email":"phall@example.net","name":"Victor Coleman","phone":"(353)469-0513x181","date_part":"20240503"}          |
|{"address":"40413 Jordan Keys Suite 848\nSouth Jennifertown, WV 27115","date":"2024-05-02T13:44:56.691Z","dob":"1997-01-23","email":"christopherbennett@example.com","name":"Briana Davis","phone":"(468)358-4804","date_part":"20240502"}  |
|{"address":"6502 Shelly Valley Apt. 393\nEast Reneechester, FM 85426","date":"2024-05-01T05:28:33.478Z","dob":"1914-11-10","email":"jonathan93@example.com","name":"Kristopher Shaffer","phone":"475.749.4128x02831","date_part":"20240501"}|
+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
only showing top 10 rows

In [22]:
# reading json as text
spark.read.json(path).show(10, False)

+---------------------------------------------------------+------------------------+---------+----------+------------------------------+------------------+---------------------+
|address                                                  |date                    |date_part|dob       |email                         |name              |phone                |
+---------------------------------------------------------+------------------------+---------+----------+------------------------------+------------------+---------------------+
|3576 Green Turnpike Apt. 973\nJonathanfort, OH 20172     |2024-05-02T01:52:33.343Z|20240502 |1971-01-29|kennethporter@example.net     |Kenneth Clarke    |(454)916-7184        |
|00743 Pamela Crossing Apt. 423\nBenjaminport, OR 82666   |2024-05-02T11:30:22.134Z|20240502 |1954-01-03|michaelcrawford@example.com   |Brooke Scott      |001-670-596-2391x3422|
|7622 Sean Parks\nWest Sean, AZ 84874                     |2024-05-01T03:44:46.207Z|20240501 |1913-03-17|michael77@example.com         |Jennifer Baker    |+1-918-901-5459x36663|
|26358 Gordon Flat\nLake Michael, GU 45428                |2024-05-01T11:33:51.763Z|20240501 |1991-12-23|jacksontyler@example.net      |Heather Taylor    |9147011038           |
|631 Erin Fork Suite 135\nWest Seanmouth, PA 68986        |2024-05-04T13:04:34.355Z|20240504 |1982-09-13|carlturner@example.com        |Melissa Bell      |(990)322-6026x92193  |
|90831 Brown Green\nWest Chelseaview, MN 53545            |2024-05-03T03:02:07.280Z|20240503 |1934-10-03|kdavis@example.net            |Cindy Estrada     |(317)579-6638        |
|3571 Beard Crest Apt. 049\nCharleneville, OK 70819       |2024-05-02T14:00:24.507Z|20240502 |1958-08-02|frazierwayne@example.net      |Veronica Ruiz     |926-265-0650         |
|37951 Wells Rapid Suite 130\nSouth Cherylville, GU 82511 |2024-05-03T20:15:43.791Z|20240503 |1998-11-05|phall@example.net             |Victor Coleman    |(353)469-0513x181    |
|40413 Jordan Keys Suite 848\nSouth Jennifertown, WV 27115|2024-05-02T13:44:56.691Z|20240502 |1997-01-23|christopherbennett@example.com|Briana Davis      |(468)358-4804        |
|6502 Shelly Valley Apt. 393\nEast Reneechester, FM 85426 |2024-05-01T05:28:33.478Z|20240501 |1914-11-10|jonathan93@example.com        |Kristopher Shaffer|475.749.4128x02831   |
+---------------------------------------------------------+------------------------+---------+----------+------------------------------+------------------+---------------------+
only showing top 10 rows

In [23]:
# partition json data + saveAsTable

# Creating partition column
df = df.withColumn("date_part", date_format(col("date"), "yyyyMMdd"))

# write as json
(df.write
  .partitionBy("date_part")
  .mode("overwrite")
  .format("json")
  .saveAsTable("tbl_json_part"))

# read as json
spark.table("tbl_json_part").count()

# read as json
spark.sql("show partitions tbl_json_part").show()

+------------------+
|         partition|
+------------------+
|date_part=20240501|
|date_part=20240502|
|date_part=20240503|
|date_part=20240504|
+------------------+

# Append Mode

In [24]:
# Writing as PARQUET with APPEND

path = "/content/write_partitioning/parquet_append"

df.write.mode("append").format("parquet").save(path)

!ls /content/write_partitioning/parquet_append

spark.read.format("parquet").load(path).count()

part-00000-4d1869fa-8198-472d-a2d3-398c5a20c0d0-c000.snappy.parquet  _SUCCESS

50